.manage-schedule-container{
    .m-s-title{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 17px;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .pick-hour-container{
        padding-top: 20px 0;
        display: flex;
        border: 1px solid orange;
        flex-wrap: wrap;
        gap: 20px;


        .btn-schedule{
            padding: 5px 15px;
            border: 1px solid grey;
        }
    }
}